.tableHead
{
  background-color: #17a2b85c;
}

.tableHead th
{
  border: 1px solid rgba(0, 0, 0, 0.39) !important;
  position: relative;
}

th,
td,
li
{
  cursor: pointer;
}

.up,
.down
{
  position: absolute;
  top: 15px;
  right: 0;
  width: 18px;
  height: 18px;
  background-image: URL('../img/up.png');
  background-repeat: no-repeat;
}

.down
{
  background-image: URL('../img/down.png');
}

